# Puerto interno donde escucha la API de Express.
PORT=4000

# Usuario root inicial de MongoDB dentro del contenedor.
MONGO_INITDB_ROOT_USERNAME=change_me

# Password root inicial de MongoDB dentro del contenedor.
MONGO_INITDB_ROOT_PASSWORD=change_me

# Nombre de la base de datos que se crea al iniciar MongoDB.
MONGO_INITDB_DATABASE=recipehub

# Cadena de conexion usada por el backend para conectarse a MongoDB.
MONGO_URI=mongodb://change_me:change_me@mongo:27017/recipehub?authSource=admin

# Secreto usado para firmar y validar tokens JWT.
JWT_SECRET=change_me

# Tiempo de expiracion de los tokens JWT.
JWT_EXPIRES_IN=7d

# Nombre del cloud de Cloudinary para almacenar imagenes.
CLOUDINARY_CLOUD_NAME=change_me

# API key de Cloudinary.
CLOUDINARY_API_KEY=change_me

# API secret de Cloudinary.
CLOUDINARY_API_SECRET=change_me
